
//Variables

//BG Colores
$bg-1: #F4F4F4;
$bg-2: gray;
$bg-3: #F2A405;
$bg-4: #f2c56f;
$bg-5: white;
$bg-6: black;

//Font Family
$ff-1: 'Open Sans', sans-serif;
$ff-2: 'Oswald', sans-serif;

//Colores
$c-1: white;
$c-2: blue;
$c-3: #F2A405;